.spacer {
	width: 100%;
	height: 30px;
}

.spacer.spacer-2 {
	height: 60px;
}

.spacer.spacer-3 {
	height: 90px;
}

.floating-container {
	position: absolute;
	z-index: 9;
}

.floating-container.float-top {
	top: 15px;
}

.floating-container.float-right {
	right: 15px;
}

.floating-container.float-bottom {
	bottom: 15px;
}

.floating-container.float-left {
	left: 15px;
}

.floating-container.float-center {
	left: 50%;
    transform: translate(-50%, 0);
}

.legend .circle {
	width: 15px;
	height: 15px;
	border-radius: 50%
}

.legend .list-group-item {
	border: none;
	cursor: pointer;
}

.bubble-chart .bubble {
	stroke-width: 1px;
	stroke: white;
	opacity: .8;
}

.bubble-chart .label {
    font-weight: 100;
	stroke: black;
    stroke-width: 0.2px;
	opacity: .9
}

.line-chart .line {
	fill: none;
    stroke-width: 3;
}

.line-chart.line-chart-simple .line {
	stroke: #ffab00;
}

.word-search .usages input[type="range"] {
	height: 75px;
	transform: rotate(90deg);
}

.party-search .results .shadow-sm.rounded {
	width: 300px;
}
